<strong>Edit Article:</strong></br>

<%= form_for :article, url: article_path(@article), method: :put do |f| %>
	<div class = "container">
          <div class = "row">
  		<%=f.label :title %></br>
  		<%=f.text_field :title, cols: "35" %></br>
	  </div>
        </div>


	<div class = "container">
          <div class = "row">
		<%=f.label :text %></br>
                <%=f.text_area :text, cols: "35", rows: "5" %></br>
         </div>
       </div>

         <%=f.submit :'Save article'%>
<% end %>
