<strong>Listing articles:</strong>


   <ul> 
	<%@articles.each do |article| %>
         <li>
           <div class = "container">
	     <div class = "row">
             
              <strong><i><%=article.title %></i></strong></br>
                  <%=article.text  %></br>
              <div class = "col-xs-12">
              	<i><%=link_to 'show', article_path(article)%></i> 
                <i><%=link_to 'edit', edit_article_path(article)%></i>
                <i><%=link_to 'delete', article_path(article), method: :delete, data:{confirm: "Are You sure?"}%></i>
            </div> 
           
          </div>
        </div>
       </li></br>
	<%end%>
  </ul> 

