<!DOCTYPE html>
<html>
  <head>
    <title>NewBlog</title>
    <%= csrf_meta_tags %>
    <!%= stylesheet_link_tag 'application', media:"all", "data-turbolinks-track": 'reload' %>
    <!%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>      
     <% if user_signed_in? %>  
  	   <span>Hello,<%= current_user.username %></span>
           <%= link_to 'Sign out',destroy_user_session_path,  method: :delete , data:{confirm: "Are You sure?"} %>
     <% else %>
     	<%= link_to 'Sign In', new_user_session_path %>		 
     <% end %> 

     <%=link_to 'Articles', articles_path %>  


      <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
           <nav>
            <ul class="nav pull-right">               
            </ul>
          </nav>
        </div>
      </div>
    </header> 
     
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <%= yield %>
   </body>
</html>
